<h1>Welcome to Alyssa's Version of Hangman</h1>
<h3>Click 'Start' to Start a New Game</h3>
<%= link_to 'Start', games_path, class: 'btn btn-info', id: 'start_game', :action => 'create', :method => 'post' %>
