<div id="alphabet">
  <% ('A'..'Z').to_a.each do |letter| %>
    <% if letter == 'Q' %>
      <br>
      <%= link_to "#{letter}", game_guesses_path(@game.id, :letter => letter), :method => 'post', class: 'btn btn-lg btn-warning' %>
    <% else %>
      <%= link_to "#{letter}", game_guesses_path(@game.id, :letter => letter), :method => 'post', class: 'btn btn-lg btn-warning' %>
    <% end %>
  <% end %>
</div>
