<div id="alphabet">
  <% ('A'..'Z').to_a.each do |letter| %>
    <% if letter == 'Q' %>
      <br>
      <%= link_to "#{letter}", new_game_guess_path(@game.id, :letter => "#{letter}"), id: "letter_#{letter}", class: 'btn btn-lg btn-warning', remote: true, :method => 'post' %>
    <% else %>
      <%= link_to "#{letter}", new_game_guess_path(@game.id, :letter => "#{letter}"), id: "letter_#{letter}", class: 'btn btn-lg btn-warning', remote: true, :method => 'post' %>
    <% end %>
  <% end %>
</div>
