<div id="alphabet">
  <% ('A'..'Z').to_a.each do |letter| %>
    <% if letter == 'i' || letter == 'r' %>
      <br><br>
      <%= link_to "#{letter}", game_guesses_path(@game.id, :letter => letter, :player => @player), :method => 'post', class: 'btn btn-lg btn-default', id: "letter_#{letter}", remote: true %>
    <% else %>
      <%= link_to "#{letter}", game_guesses_path(@game.id, :letter => letter, :player => @player), :method => 'post', class: 'btn btn-lg btn-default', id: "letter_#{letter}", remote: true %>
    <% end %>
  <% end %>
</div>
