<h1 id= 'letter_display'>
  <% if @game.dead? == false %>
    <% @game.display_answer.each do |piece| %>
      <% if piece == "[_]" %>
        <i class="fa fa-lock fa-1x"></i>
      <% else %>
        <%= piece %>
      <% end %>
    <% end %>
  <% else %>
    <h3>"<%= @game.answer %>" </h3>
  <% end %>
</h1>
