<h1 style="text-align: center;">Don't Hang Yourself.</h1>

<%= render 'round', game: @game %>

<% if @game.dead? == false && @game.won? %>
<hr>
  <h1 style="text-align: center;">YOU WON!</h1>
<hr>
<% end %>

<hr>

<%= render 'alphabet' %>

<hr>

<h1 id="dead"></h1>
