<div class="row" id="gallows">
  <div class="col-md-6">
    <img src="<%= @player.url %>" id="gallows_image">
    <h1 id=gallows_header></h1>

    <%= render 'lives', game: @game %>
  </div>

  <div class="col-md-6">
    <%= render 'round', game: @game %>
    <%= render 'alphabet', player: @player %>
    <hr>
  </div>
</div>
