/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

body {
  background-image: url(background.png);
}

#alphabet, #letter_display {
  text-align: center;
}

#homescreen {
  text-align: center;
  width: 100%;
  position: center;
  border-radius: 5px;
  display: block;
  margin: auto;
  h1 {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 4em;
  }
  h3, p {
    font-family: 'PT Mono', ;
  }
  .player_options {
    display: inline-block;
  }
  .player_image {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 5px;
  }
  .players {
    display: inline-block;
    margin: 10px;
  }
  .btn {
    width: 450px;
  }
}

#gallows {
  margin-top: 50px;
}

#gallows_image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

#gallows_header {
  text-align: center;
  font-family: 'PT Mono', ;
}
